body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(1deg, #1a222c 0%, #06090e 100%);
  color: #fff;
  height: 300vh;
}

/*******************   HEADER  ************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.header.hide {
  transform: translateY(-100%);
}

.header.show {
  transform: translateY(0);
}

.nav-links li{
  align-items: center;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
  margin-left: 2rem;
  display: inline;
}

.nav-links a:before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

.nav-links a:hover:before {
  background-color: #fff;
  width: 3rem;
}


/**************    BOUTON TOP      *****************/
.logoTop2 {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
}

.logoTop2::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - -2px);
  background-color: #070B10;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.logoTop2::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 50px);
  background-color: #21212100;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.logoTop2:hover::before {
  transform: translateY(-25px);
  height: 0;
}

.logoTop2:hover::after {
  transform: scaleX(0);
  transition-delay: 0.15s;
}

.logoTop2:hover {
  border: 2px solid #fefefe;
}

.logoTop2 span {
  position: relative;
  z-index: 3;
}

.logoTop {
  text-decoration: none;
  border: none;
  background-color: transparent;
}

/************************   HOME  *********************************/

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 20px;
}

.home-content {
  max-width: 600px;
  margin-left: 5%;
}

.home-content h1 {
  font-size: 48px;
}

.home-content p {
  font-size: 18px;
  margin: 20px 0;
}

/******************   PARTIE BOUTTON A PROPOS   ***************/
.about-button {
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.about-button:hover::before {
  transform: scaleX(1);
}

.about-button-content {
  position: relative;
  z-index: 5;
}

.about-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(172, 119, 252) 10.8%,
    rgb(79, 67, 245) 94.3%
  );
  transition: all 0.475s;
}

/****************** V   MAGNIFYINGGLASS  V  *******************/
.magnifying-container {
  position: relative;
  display: inline-block;
}

.magnified-text {
  margin-left: 5rem;
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.magnifying-glass {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  pointer-events: none;
  background: #141723;
  z-index: 2;
}

.magnified-text.zoomed {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  transform-origin: top left;
}

/********************** CONTACT ***********************************/
